@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
}

.main-container {
  background-color: #1013cb;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', sans-serif;
  height: 100vh;
  width: 100%;
}

.minor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

.logo {
  width: 5rem;
  height: 5rem;
}